/cmake-build-*
/CMakeFiles
/temp
/android/.idea/
/android/.gradle/
/build
*.mp4
*.o
*.cbp
*makefile
*cmake_install.cmake
*.mp3
*.zip
*.yuv
*.h264
.idea
.gradle
CMakeCache.txt
Makefile
cmake_install.cmake
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/java/out/
/java/.idea